<!-- layout looking for template and pass all content as body to boilerplate -->
<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-md-6 offset-3">
    <h1>Campground Details</h1>
    <hr />
    <div class="card mb-4">
      <img src="<%=campground.image %>" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">$<%= campground.price %>/night</li>
      </ul>
      <div class="card-body">
        <a
          href="/campgrounds/<%= campground._id %>/edit"
          class="card-link btn btn-info"
          >Edit</a
        >
        <form
          class="card-link d-inline"
          method="post"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
        >
          <button class="btn btn-danger">DELTE</button>
        </form>
      </div>
      <div class="card-footer card-body"><a href="/campgrounds" class="text-muted ">All Campgrounds</a></div>
    </div>
  </div>
</div>
